.cartSummary {
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;
  grid-column: span 1;
  padding: 16px;
  background: var(--color-bg);
  border-radius: 8px;
  border: 1px solid hsl(from var(--color-secondary) h s l / 0.2);

  @media (max-width: 768px) {
    position: static;
    top: 0;
    padding: 8px;
  }

  .summaryTitle {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text-primary);
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .summaryItems {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: 768px) {
      gap: 16px;
    }
  }

  .summaryItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 auto;
    justify-content: flex-end;

    @media (max-width: 768px) {
      gap: 20px;
      margin-top: 12px;
    }

    .clearCartButton {
      color: red;
    }

    .continueShoppingButton {
      color: var(--color-primary);
      margin: 0 auto;
      width: fit-content;
    }
  }
}
