.container {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }

  .searchContainer {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: 768px) {
      flex: 1 1 100%;
    }

    .searchInput {
      flex: 1 1 auto;
      padding: 7px 8px;
      border: 1px solid hsl(from var(--color-secondary) h s l / 0.2);
      border-radius: 4px;
      font-size: 16px;
      color: var(--color-text-primary);
      background-color: var(--color-bg);
      outline: none;

      @media (max-width: 768px) {
        padding: 5px 8px;
        font-size: 14px;
      }

      &:focus {
        border-color: var(--color-primary);
      }
    }
  }
}
