.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: hsl(from var(--color-secondary) h s l / 0.2);
  cursor: pointer;
  outline: none;

  svg {
    width: 18px;
    height: 18px;
  }

  .itemsCount {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: var(--color-primary);
    color: var(--color-bg);
    width: auto;
    display: flex;
    min-width: 8px;
    min-height: 8px;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 12px;

    @media (max-width: 1280px) {
      top: -6px;
      right: -6px;
      padding: 0 2px;
    }

    @media (max-width: 768px) {
      top: -4px;
      right: -4px;
      padding: 0 5px;
      font-size: 10px;
    }
  }
}
