.item {
  display: flex;
  gap: 16px;
  padding: 16px;
  background: var(--color-bg);
  border-radius: 8px;
  border: 1px solid hsl(from var(--color-secondary) h s l / 0.2);

  @media (max-width: 768px) {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.imageContainer {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  padding: var(--spacing-sm);
  background: white;
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.details {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;

  @media (max-width: 768px) {
    gap: 4px;
    grid-column: span 3;
  }

  .caption {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .title {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text-primary);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .category {
    font-size: 14px;
    color: var(--color-primary);
    text-transform: capitalize;
  }

  .price {
    font-size: var(--font-size-base);
    font-weight: 500;
    color: var(--text-primary);
    margin: 0;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;

  @media (max-width: 768px) {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .quantity {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: 768px) {
      grid-column: span 1;
    }

    .quantityValue {
      min-width: 32px;
      text-align: center;
      font-weight: 600;

      color: var(--color-text-primary);
    }

    .quantityButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 4px;
      border: 1px solid hsl(from var(--color-primary) h s l / 0.2);
    }
  }

  .subtotal {
    @media (max-width: 768px) {
      text-align: end;
    }
  }

  .removeButton {
    color: red;

    @media (max-width: 768px) {
      grid-column: span 2;
    }
  }

  .subtotal {
    font-size: var(--font-size-lg);
    font-weight: 700;
    color: var(--text-primary);
    margin: 0;
  }
}
